body {
  background: #222;
  color: #fff;
  font-family: sans-serif;
}

#title {
  text-align: center;
  margin-top: 100px;
}

#title h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

#title button {
  display: block;
  margin: 10px auto;
  padding: 10px 30px;
  font-size: 18px;
}

#game {
  width: 600px;
  margin: 50px auto;
}

#text {
  border: 2px solid #fff;
  padding: 20px;
  min-height: 120px;
  cursor: pointer;
}

#menu {
  margin-top: 10px;
  text-align: center;
}

#menu button {
  margin: 4px;
}

#choices button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

#screen {
  position: relative;
  width: 600px;
  height: 400px;
  margin: auto;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#text {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 120px;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 20
}

#log {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  color: white;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  z-index: 100;
}

#logContent p {
  margin: 10px 0;
}

#logHint {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 14px;
  opacity: 0.7;
}

#nameBox {
  position: absolute;
  top: 250px;
  width: 15%;
  min-height: px;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid white;
  z-index: 19;
}

#charaLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.chara {
  position: absolute;
  bottom: 0;
  transition: opacity 0.3s, transform 0.3s;
  max-height: 90%;
  z-index: 10
}
